page-login {
  ion-content.content {
    background-color: #eaeaea;

    ion-card.login-box {
      width: 70vw;
      margin: 0 auto;

      ion-card-header.login-title {
        background: #17b1f8;
        color: #ffffff;
        padding: 25px 0;
        font-size: 2rem;
        margin-bottom: 5px;
      }
    }
  }
}