page-home {
    .img-max {
        max-width: 200px;
        max-height: 200px;
    }
    ion-list-header.list-header {
        background: #17b1f8;
        color: #ffffff;
    }
    .list-md.item.item-block.item-md > .item-inner {
        font-size: 1.1em;
        border: none;
    }
}
