<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let p of pages; let i=index" text-wrap (click)="p.hasChildrens() ? toggleLevel1('idx'+i) : openPage(p)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
        <h2>
          {{p.title}}
          <ion-icon *ngIf="p.icon" color="success" item-right [name]="p.hasChildrens() ? (isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright') : normal"></ion-icon>
        </h2>
        <ion-list *ngIf="isLevel1Shown('idx'+i) && p.hasChildrens()">
          <ion-item *ngFor="let c of p.childrens" text-wrap menuClose (click)="openPage(c)">
            <h3>
              {{c.title}}
            </h3>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>