<ion-menu [content]="content">
  <ion-content>
    <ion-avatar item-start>
      <img src="https://i.pinimg.com/736x/1a/69/0f/1a690f398ee672eb930ada76e761d77b--sara-sampaio-instagram-instagram-models.jpg">
    </ion-avatar>
    <ion-list>
      <ion-item menuClose *ngFor="let p of pages; let i=index" text-wrap (click)="p.hasChildrens() ? toggleLevel1('idx'+i) : openPage(p)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
        <h2>
          {{p.title}}
          <ion-icon color="success" item-right [name]="p.hasChildrens() ? (isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright') : normal"></ion-icon>
        </h2>
        <ion-list *ngIf="isLevel1Shown('idx'+i) && p.hasChildrens()">
          <ion-item *ngFor="let c of p.childrens; let i2=index" text-wrap>
            <h4>
              {{c.title}}
            </h4>
          </ion-item>
        </ion-list>
      </ion-item>
      <!-- <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button> -->
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>